{% extends 'admin.html.twig' %}
{% block body %}
	
<div class="form-group">{{ form_start(form) }}</div>
<div class="form-group">{{ form_end(form) }}</div>
<hr>
<h2>Liste des produits </h2>
<table class="table">
{% for p in products %}
<tr>
	<td>{{p.name}}</td>
	<td>{{p.price}}</td>
	<td>{{p.stock}}</td>
	
	
</tr>
{% endfor %}
</table>
{% endblock %}